html {
  opacity: 0; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0; }

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: white; }

.content-container {
  flex-direction: row;
  display: flex;
  height: 100%; }
  .content-container .left-container {
    flex-direction: column;
    flex-basis: 20%;
    position: relative; }
    .content-container .left-container #weather {
      position: absolute;
      left: 1.5vw;
      top: 3vh;
      color: white;
      text-shadow: 1px 0 0 #353535, -1px 0 0 #353535, 0 1px 0 #353535, 0 -1px 0 #353535, 0.5px 0.5px #353535, -0.5px -0.5px 0 #353535, 0.5px -0.5px 0 #353535, -0.5px 0.5px 0 #353535;
      text-align: center;
      text-transform: capitalize; }
      .content-container .left-container #weather .city_box {
        margin: 14px auto 0px auto;
        font-size: 1em;
        font-weight: lighter; }
      .content-container .left-container #weather .temp_box {
        margin: auto;
        font-size: 1em;
        font-weight: lighter; }
      .content-container .left-container #weather .icon_box {
        width: .9vw;
        position: relative;
        display: inline-block;
        width: 100px;
        height: 50px;
        /* Animations */ }
        .content-container .left-container #weather .icon_box .icon {
          height: 100%;
          width: auto; }
        .content-container .left-container #weather .icon_box .cloud {
          position: absolute;
          z-index: 1;
          font-size: .7em;
          top: 50%;
          left: 50%;
          width: 3.6875em;
          height: 3.6875em;
          margin: -1.84375em;
          background: currentColor;
          border-radius: 50%;
          box-shadow: -2.1875em 0.6875em 0 -0.6875em, 2.0625em 0.9375em 0 -0.9375em, 0 0 0 0.375em #fff, -2.1875em 0.6875em 0 -0.3125em #fff, 2.0625em 0.9375em 0 -0.5625em #fff; }
        .content-container .left-container #weather .icon_box .cloud:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: -0.5em;
          display: block;
          width: 4.5625em;
          height: 1em;
          background: currentColor;
          box-shadow: 0 0.4375em 0 -0.0625em #fff; }
        .content-container .left-container #weather .icon_box .cloud:nth-child(2) {
          z-index: 0;
          background: #fff;
          box-shadow: -2.1875em 0.6875em 0 -0.6875em #fff, 2.0625em 0.9375em 0 -0.9375em #fff, 0 0 0 0.375em #fff, -2.1875em 0.6875em 0 -0.3125em #fff, 2.0625em 0.9375em 0 -0.5625em #fff;
          opacity: 0.3;
          transform: scale(0.5) translate(6em, -3em);
          animation: cloud 4s linear infinite; }
        .content-container .left-container #weather .icon_box .cloud:nth-child(2):after {
          background: #fff; }
        .content-container .left-container #weather .icon_box .sun {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 2.5em;
          height: 2.5em;
          margin: -1.25em;
          background: currentColor;
          border-radius: 50%;
          box-shadow: 0 0 0 0.375em #fff;
          animation: spin 12s infinite linear; }
        .content-container .left-container #weather .icon_box .rays {
          position: absolute;
          top: -2em;
          left: 50%;
          display: block;
          width: 0.375em;
          height: 1.125em;
          margin-left: -0.1875em;
          background: #fff;
          border-radius: 0.25em;
          box-shadow: 0 5.375em #fff; }
        .content-container .left-container #weather .icon_box .rays:before,
        .content-container .left-container #weather .icon_box .rays:after {
          content: '';
          position: absolute;
          top: 0em;
          left: 0em;
          display: block;
          width: 0.375em;
          height: 1.125em;
          transform: rotate(60deg);
          transform-origin: 50% 3.25em;
          background: #fff;
          border-radius: 0.25em;
          box-shadow: 0 5.375em #fff; }
        .content-container .left-container #weather .icon_box .rays:before {
          transform: rotate(120deg); }
        .content-container .left-container #weather .icon_box .cloud + .sun {
          margin: -2em 1em; }
        .content-container .left-container #weather .icon_box .rain,
        .content-container .left-container #weather .icon_box .lightning,
        .content-container .left-container #weather .icon_box .snow {
          position: absolute;
          z-index: 2;
          top: 50%;
          left: 50%;
          width: 3.75em;
          height: 3.75em;
          margin: 0.375em 0 0 -2em;
          background: currentColor; }
        .content-container .left-container #weather .icon_box .rain:after {
          content: '';
          position: absolute;
          z-index: 2;
          top: 50%;
          left: 50%;
          width: 1.125em;
          height: 1.125em;
          margin: -1em 0 0 -0.25em;
          background: #0cf;
          border-radius: 100% 0 60% 50% / 60% 0 100% 50%;
          box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
          transform: rotate(-28deg);
          animation: rain 3s linear infinite; }
        .content-container .left-container #weather .icon_box .bolt {
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -0.25em 0 0 -0.125em;
          color: #fff;
          opacity: 0.3;
          animation: lightning 2s linear infinite; }
        .content-container .left-container #weather .icon_box .bolt:nth-child(2) {
          width: 0.5em;
          height: 0.25em;
          margin: -1.75em 0 0 -1.875em;
          transform: translate(2.5em, 2.25em);
          opacity: 0.2;
          animation: lightning 1.5s linear infinite; }
        .content-container .left-container #weather .icon_box .bolt:before,
        .content-container .left-container #weather .icon_box .bolt:after {
          content: '';
          position: absolute;
          z-index: 2;
          top: 50%;
          left: 50%;
          margin: -1.625em 0 0 -1.0125em;
          border-top: 1.25em solid transparent;
          border-right: 0.75em solid;
          border-bottom: 0.75em solid;
          border-left: 0.5em solid transparent;
          transform: skewX(-10deg); }
        .content-container .left-container #weather .icon_box .bolt:after {
          margin: -0.25em 0 0 -0.25em;
          border-top: 0.75em solid;
          border-right: 0.5em solid transparent;
          border-bottom: 1.25em solid transparent;
          border-left: 0.75em solid;
          transform: skewX(-10deg); }
        .content-container .left-container #weather .icon_box .bolt:nth-child(2):before {
          margin: -0.75em 0 0 -0.5em;
          border-top: 0.625em solid transparent;
          border-right: 0.375em solid;
          border-bottom: 0.375em solid;
          border-left: 0.25em solid transparent; }
        .content-container .left-container #weather .icon_box .bolt:nth-child(2):after {
          margin: -0.125em 0 0 -0.125em;
          border-top: 0.375em solid;
          border-right: 0.25em solid transparent;
          border-bottom: 0.625em solid transparent;
          border-left: 0.375em solid; }
        .content-container .left-container #weather .icon_box .flake:before,
        .content-container .left-container #weather .icon_box .flake:after {
          content: '\2744';
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -1.025em 0 0 -1.0125em;
          color: #fff;
          list-height: 1em;
          opacity: 0.2;
          animation: spin 8s linear infinite reverse; }
        .content-container .left-container #weather .icon_box .flake:after {
          margin: 0.125em 0 0 -1em;
          font-size: 1.5em;
          opacity: 0.4;
          animation: spin 14s linear infinite; }
        .content-container .left-container #weather .icon_box .flake:nth-child(2):before {
          margin: -0.5em 0 0 0.25em;
          font-size: 1.25em;
          opacity: 0.2;
          animation: spin 10s linear infinite; }
        .content-container .left-container #weather .icon_box .flake:nth-child(2):after {
          margin: 0.375em 0 0 0.125em;
          font-size: 2em;
          opacity: 0.4;
          animation: spin 16s linear infinite reverse; }
@keyframes spin {
  100% {
    transform: rotate(360deg); } }
@keyframes cloud {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.3; }
  100% {
    opacity: 0;
    transform: scale(0.5) translate(-200%, -3em); } }
@keyframes rain {
  0% {
    background: #0cf;
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf; }
  25% {
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em #0cf, -1.375em -0.125em 0 rgba(255, 255, 255, 0.2); }
  50% {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0.625em 0.875em 0 -0.125em #0cf, -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 rgba(255, 255, 255, 0.2); }
  100% {
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf; } }
@keyframes lightning {
  45% {
    color: #fff;
    background: #fff;
    opacity: 0.2; }
  50% {
    color: #0cf;
    background: #0cf;
    opacity: 1; }
  55% {
    color: #fff;
    background: #fff;
    opacity: 0.2; } }
  .content-container .center-container {
    display: flex;
    flex-direction: column;
    order: 2;
    flex-basis: 60%; }
    .content-container .center-container div {
      flex: 1; }
    .content-container .center-container div:nth-of-type(1) {
      text-align: center;
      color: white;
      text-shadow: 1px 0 0 #353535, -1px 0 0 #353535, 0 1px 0 #353535, 0 -1px 0 #353535, 0.5px 0.5px #353535, -0.5px -0.5px 0 #353535, 0.5px -0.5px 0 #353535, -0.5px 0.5px 0 #353535;
      position: relative;
      font-size: 1.4vw; }
      .content-container .center-container div:nth-of-type(1) div {
        position: absolute;
        bottom: 55px;
        width: 100%;
        text-align: center; }
        .content-container .center-container div:nth-of-type(1) div h1 {
          font-size: 3.6vw; }
    .content-container .center-container div:nth-of-type(2) {
      position: relative; }
      .content-container .center-container div:nth-of-type(2) form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        .content-container .center-container div:nth-of-type(2) form input {
          width: 40vw;
          opacity: .9;
          height: 3.5vh;
          min-height: 25px;
          background: black;
          color: white;
          border: solid white 1px;
          text-align: center;
          border-radius: 3px; }
    .content-container .center-container div:nth-of-type(3) {
      color: white;
      text-align: center;
      text-shadow: 1px 0 0 #353535, -1px 0 0 #353535, 0 1px 0 #353535, 0 -1px 0 #353535, 0.5px 0.5px #353535, -0.5px -0.5px 0 #353535, 0.5px -0.5px 0 #353535, -0.5px 0.5px 0 #353535;
      font-size: 1vw; }
      .content-container .center-container div:nth-of-type(3) .qod-text {
        color: white; }
      .content-container .center-container div:nth-of-type(3) a {
        text-decoration: none;
        color: white; }
  .content-container .right-container {
    text-align: center;
    position: relative;
    order: 3;
    position: relative;
    flex-basis: 20%; }
    .content-container .right-container iframe {
      position: absolute;
      top: 4vh;
      right: 2vw;
      width: 121px;
      height: 36px; }
      .content-container .right-container iframe > * {
        font-size: 10em; }

/*# sourceMappingURL=style.css.map */
