html {
  opacity: 0; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0; }

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: white; }

.content-container {
  flex-direction: row;
  display: flex;
  height: 100%; }
  .content-container .left-container {
    flex-direction: column;
    flex-basis: 20%;
    position: relative; }
    .content-container .left-container #weather {
      position: absolute;
      top: 1.9vh;
      left: 2vw;
      font-size: 14px;
      font-family: arial;
      color: white;
      text-align: center;
      text-transform: capitalize; }
      .content-container .left-container #weather .city_box {
        margin: 14px auto 0px auto;
        font-weight: lighter; }
      .content-container .left-container #weather .temp_box {
        margin: auto;
        font-weight: lighter; }
  .content-container .center-container {
    display: flex;
    flex-direction: column;
    order: 2;
    flex-basis: 60%; }
    .content-container .center-container div {
      flex: 1; }
    .content-container .center-container div:nth-of-type(1) {
      text-align: center;
      color: white;
      text-shadow: 1px 0 0 #353535, -1px 0 0 #353535, 0 1px 0 #353535, 0 -1px 0 #353535, 0.5px 0.5px #353535, -0.5px -0.5px 0 #353535, 0.5px -0.5px 0 #353535, -0.5px 0.5px 0 #353535;
      position: relative;
      font-size: 1.4vw; }
      .content-container .center-container div:nth-of-type(1) div {
        position: absolute;
        bottom: 55px;
        width: 100%;
        text-align: center; }
        .content-container .center-container div:nth-of-type(1) div h1 {
          font-size: 3.6vw; }
    .content-container .center-container div:nth-of-type(2) {
      position: relative; }
      .content-container .center-container div:nth-of-type(2) form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        .content-container .center-container div:nth-of-type(2) form input {
          width: 40vw;
          opacity: .9;
          height: 3.5vh;
          min-height: 25px;
          background: black;
          color: white;
          border: solid white 1px;
          text-align: center;
          border-radius: 3px; }
    .content-container .center-container div:nth-of-type(3) {
      color: white;
      text-align: center;
      text-shadow: 1px 0 0 #353535, -1px 0 0 #353535, 0 1px 0 #353535, 0 -1px 0 #353535, 0.5px 0.5px #353535, -0.5px -0.5px 0 #353535, 0.5px -0.5px 0 #353535, -0.5px 0.5px 0 #353535;
      font-size: 1vw; }
      .content-container .center-container div:nth-of-type(3) .qod-text {
        color: white; }
      .content-container .center-container div:nth-of-type(3) a {
        text-decoration: none;
        color: white; }
  .content-container .right-container {
    text-align: center;
    position: relative;
    order: 3;
    position: relative;
    flex-basis: 20%; }
    .content-container .right-container iframe {
      position: absolute;
      top: 4vh;
      right: 2vw;
      width: 121px;
      height: 36px; }
      .content-container .right-container iframe > * {
        font-size: 10em; }

/*# sourceMappingURL=style.css.map */
